<div id="create-job-page-container">
  <div style="width: 100%" class="flex col jc-center gap-2">
    <span class="page-title">Criar Nova Vaga</span>
    <span class="z-index alert-info">
      <span
        ><strong>💬 Dica: </strong>Crie um título bem descritivo e coloque o
        máximo possível de informação na descrição da vaga. O sistema procura
        por palavras-chave em ambos os campos para exibir essa vaga nos
        resultados de pesquisa.</span
      >
    </span>
    <form [formGroup]="jobForm" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Título</mat-label>
        <input
          matInput
          formControlName="title"
          autocomplete="off"
          placeholder="Ex.: Desenvolvedor Júnior..."
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descrição da Vaga</mat-label>
        <textarea
          formControlName="description"
          matInput
          placeholder="Ex.: Estamos procurando um desenvolvedor júnior para atuar em um projeto..."
        ></textarea>
      </mat-form-field>

      <mat-card class="job-requirement-card">
        <span>Selecione os requisitos para essa vaga</span>
        <mat-divider></mat-divider>
        <div class="skill-chips-container">
          <div
            (click)="selectSkill(skill)"
            *ngFor="let skill of allSkills"
            class="skill-chip"
            [class.selected-chip]="selectedSkills.includes(skill)"
          >
            {{ skill.skillName }}
          </div>
          <div *ngIf="allSkills.length === 0" class="alert-fail">
            Não existem requisitos cadastrados no sistema.
          </div>
        </div>
      </mat-card>

      <button
        (click)="openConfirmationDialog()"
        style="width: 100%"
        mat-raised-button
        color="primary"
        *ngIf="jobForm.valid && selectedSkills.length !== 0"
      >
        Criar Vaga
      </button>
    </form>
  </div>
  <span
    style="padding: 1rem; width: 100%"
    class="alert-fail"
    *ngIf="jobForm.invalid || selectedSkills.length === 0"
    >Preencha todos os campos e selecione ao menos um requisito para
    prosseguir.</span
  >
</div>
