<div id="review-application-list-container">
  <div class="flex col">
    <div class="cards-container">
      <mat-card
        (click)="selectCategory('UNDER_REVIEW')"
        class="dashboard-card job-applications-card"
      >
        <span class="dashboard-card-value">{{
          jobApplicationsUnderReview.length
        }}</span>
        <span class="dashboard-card-title">Em Análise</span>
      </mat-card>
      <mat-card
        (click)="selectCategory('CLOSED')"
        class="dashboard-card under-review-card"
      >
        <span class="dashboard-card-value">{{
          jobApplicationsClosed.length
        }}</span>
        <span class="dashboard-card-title">Encerradas</span>
      </mat-card>
      <mat-card
        (click)="selectCategory('REJECTED')"
        class="dashboard-card finished-applications-card"
      >
        <span class="dashboard-card-value">{{
          jobApplicationsRejected.length
        }}</span>
        <span class="dashboard-card-title">Rejeitadas</span>
      </mat-card>
      <mat-card
        (click)="selectCategory('APPROVED')"
        class="dashboard-card approved-jobs-card"
      >
        <span class="dashboard-card-value">{{
          jobApplicationsApproved.length
        }}</span>
        <span class="dashboard-card-title">Aprovadas</span>
      </mat-card>
    </div>
  </div>
  <div
    class="fade-down"
    *ngIf="categorySelected === 'UNDER_REVIEW'"
    id="job-application-list-container"
  >
    <span class="gray-caption"
      >Exibindo {{ jobApplicationsUnderReview.length }} de
      {{ jobApplicationsUnderReview.length }} candidaturas</span
    >
    <app-job-application-card
      *ngFor="let application of jobApplicationsUnderReview"
      [jobApplication]="application"
    ></app-job-application-card>
    <app-empty-result-img
      *ngIf="jobApplicationsUnderReview.length === 0"
      [message]="'Você não possui nenhuma candidatura não avaliada.'"
    ></app-empty-result-img>
  </div>
  <!-- CANDIDATURAS APR0VADAS -->
  <div
    class="fade-down"
    *ngIf="categorySelected === 'APPROVED'"
    id="job-application-list-container"
  >
    <span class="gray-caption"
      >Exibindo {{ jobApplicationsApproved.length }} de
      {{ jobApplications.length }} candidaturas</span
    >
    <app-job-application-card
      *ngFor="let application of jobApplicationsApproved"
      [jobApplication]="application"
    ></app-job-application-card>
    <app-empty-result-img
      *ngIf="jobApplicationsApproved.length === 0"
      [message]="'Você não possui nenhuma candidatura encerrada.'"
    ></app-empty-result-img>
  </div>

  <!-- CANDIDATURAS ENCERRADAS -->
  <div
    class="fade-down"
    *ngIf="categorySelected === 'CLOSED'"
    id="job-application-list-container"
  >
    <span class="gray-caption"
      >Exibindo {{ jobApplicationsClosed.length }} de
      {{ jobApplications.length }} candidaturas</span
    >
    <app-job-application-card
      *ngFor="let application of jobApplicationsClosed"
      [jobApplication]="application"
    ></app-job-application-card>
    <app-empty-result-img
      *ngIf="jobApplicationsClosed.length === 0"
      [message]="'Você não possui nenhuma candidatura encerrada.'"
    ></app-empty-result-img>
  </div>
</div>
