#main-container {
  min-height: 100vh;
  margin: 10vh 25vw;
  max-width: 1200px;
}

.waves {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
}

@media (max-width: 450px) {
  #main-container {
    margin: 10vh 1rem;
  }
  .waves {
    position: absolute;
    left: 0;
    top: 60px;
    width: 120vw;
  }
}
