<mat-toolbar id="topbar">
  <button
    id="toggle-sidebar"
    mat-icon-button
    class="example-icon"
    aria-label="Toggle Sidebar"
    (click)="toggleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img class="logo" src="../../../assets/pacto-black-logo.png" />
  <span class="app-title" style="margin-left: 10px">Vagas Internas</span>
  <span class="example-spacer"></span>
  <app-notification-button></app-notification-button>
  <mat-chip style="margin-left: 5px" *ngIf="user" color="accent">
    <img
      matChipAvatar
      src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    {{ user.username }}
  </mat-chip>
</mat-toolbar>
