<div id="sidebar-container" [ngClass]="getSidebarStyles()">
  <mat-action-list class="nav-container">
    <button mat-list-item (click)="navigateTo('user-panel')">
      <span class="sidebar-nav-span">Painel do Candidato</span>
    </button>
    <button mat-list-item (click)="navigateTo('jobs')">
      <span class="sidebar-nav-span">Encontrar Vagas</span>
    </button>
    <button mat-list-item>
      <span class="sidebar-nav-span" (click)="navigateTo('profile')"
        >Meu Perfil</span
      >
    </button>
    <button mat-list-item (click)="openLogoutDialog()">
      <span class="sidebar-nav-span">Sair</span>
    </button>
  </mat-action-list>
</div>
