<div class="page-container flex col al-center jc-center">
  <img id="logo-img" src="../../../assets/Nova-Logo-Pacto-Branca.png" />
  <app-login></app-login>
  <div class="bottom-info flex col al-center jc-center">
    <span>2024 - Desenvolvido por Athos.Dev </span>
    <div class="flex row al-center gap-1">
      <a href="https://www.linkedin.com/in/athosfranco/" target="_blank"
        >Linkedin</a
      >|
      <a href="https://github.com/athosfranco" target="_blank">Github</a>
    </div>
  </div>
</div>
