* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #161d2a;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.al-center {
  align-items: center;
}

.al-start {
  align-items: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-start {
  justify-content: flex-start;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-end {
  justify-content: flex-end;
}

.custom-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-title {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 1rem 0;
  z-index: 20;
}

.title {
  font-size: 2rem;
  padding: 0.5rem 0;
  z-index: 2;
}

.subtitle {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  z-index: 10;
}

.white {
  color: #fff;
}

.body {
  font-size: 1rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.caption {
  padding: 0.5rem 0;
  color: #505050;
  font-size: 0.8rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.divider {
  margin: 1.5rem 0;
  border-bottom: 1px solid #ddd;
}

.alert-info {
  padding: 8px 16px;
  background-color: #d2e0fb;
  color: #2a374f;
  border: 1px solid #2a374f;
}

.alert-success {
  background-color: #d0e7d2;
  border: 1px solid #576658;
  color: #576658;
}
.alert-warning {
  background-color: #f9f3cc;
  border: 1px solid #938845;
  color: #938845;
}
.alert-fail {
  background-color: #fccfe0;
  border: 1px solid #b75b7e;
  color: #934965;
}
.accent-color {
  color: #ff4786;
}
.primary-color {
  color: #42567c;
}
.go-back-btn {
  width: 100px;
}

.p-1 {
  padding: 0.5rem 1rem;
}

.clickable-span {
  cursor: pointer;
}

.clickable-span:hover {
  text-decoration: underline;
}

.gray-caption {
  color: #ddd;
  margin-bottom: 1rem;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down {
  animation: fadeDown 0.5s ease-in-out;
}

.admin-icon {
  width: 50px;
  height: 50px;
  z-index: 4;
}

.z-index {
  z-index: 10;
}

a {
  color: #ddd;
}
